*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: 'Times New Roman', Times, serif;
}
/* body{
    overflow: hidden;
} */
.container{
    width: 1100px;
    margin: auto;
}
/* header */
.header{
    background: #007ACC;
}
.header ul{
    text-align: center;
    background: #007ACC;
}
.header ul li{
    display: inline-block;
    margin-left: -5px;
    border-left: 1px solid #2b475a;
    border-right: 1px solid #446b85;
}
.header ul li:first-child{
    border-left: none;
}
.header ul li:last-child{
    border-right: none;
}
.header ul li a {
    display: inline-block;
    color: #fff;
    padding: 12px 17px;
    text-decoration: none;
    font-size: 23px;
}
.header ul li:hover>a{
    background:#1c415a;
    transition: .5s;
}
/* Dropdown */
.header ul li{
    position: relative;
}
.header ul li ul{
    position: absolute;
    top:100%;
    left: 0;
    width: 180px;
}
.header ul li ul li{
    display: block;
    margin-left: 0;
    border-left: none;
    border-right: none;
    border-top:1px solid #2b475a ;
    border-bottom: 1px solid #446b85;
}
.header ul li ul li a{
    display: block;
}
/* hover part */
.header ul li ul{
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
}
.header ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transform: scaleY(1);
}
/* submenu */
.header ul li ul li{
    position: relative;
}
.header ul li ul li ul{
    position: absolute;
    top: 0;
    left: 100%;
}
/* Banner */
.banner{
    background: url(./img/banner.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 130px 0;
    text-align: center;
}
.banner h2 {
    color: #fff;
    font-size: 43px;
    font-style: italic;
    font-family: Times New Roman;
    margin-top:30px;
}
.banner h2::before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    margin-right: 10px;
}
.banner h2::after {
    content: "\f100";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    margin-left:10px;
  
}

.banner button {
    width: 177px;
    color: #000;
    background: #ddd;
    padding: 20px 21px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    border: none;
    z-index: 1;
    margin-top:70px;
}
.banner button::before{
    content: "";
    background:#50C2E4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin:left;
    border-radius: 10px;
    z-index: -1;
}
.banner button:hover::before{
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
    transition: .5s;
}
button:hover{
    color:#fafafa;
}
/* about */
.about {
    background: #FBFCFC;
    padding: 40px 0;
}
.about h3 {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}
.div{
    width: 240px;
    height: 200px;
    border: 1px solid transparent;
    display: inline-block;
    margin-left: 20px;
    margin-top: 50px;
    overflow: hidden;
}
img{
    width: 230px;
    height: 190px;
}
.about p {
    font-size: 22px;
    margin-top: 58px;
    margin-left: 38px;
    color: #767676;
}
.img1:hover{
    transform: rotate(360deg);
    transition: .5s;
}
.img2:hover{
    transform: skew(25deg);
    transition: .5s;
}
.img3:hover{
    transform: scale(1.2);
    transition: .5s;
}
.img4:hover{
    transform:translate(20px);
    transition: .5s;
}
/* contact */
.contact{
    text-align: center;
    padding: 50px 0;
    
}
.contact h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.form{
    border: none;
    border-bottom: 2px solid red;
    width: 600px;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
}
.btn{
    width: 170px;
    border: none;
    background:rgba(0, 0, 0, 0.849);
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    color:#fff;
    border: 1px solid transparent;
    margin-top: 30px;
}
.btn:hover{
    background:blue;
    color:#fff;
    border: 1px solid red;
    cursor: pointer;
    transition: .5s;
    transform: scale(1.1);
}
.footer{
    padding: 12px 0;
    background: #007ACC;
    text-align: center;
}
.footer p{
    color: #fff;
    font-size: 18px;
}
span{
    color:red;
    font-size: 20px;
}